<section class="todoapp">
  <header class="header">
    <h1><%= @list.name %></h1>
    <% 
      # Instead of form_for(@item, url: list_items_path(@list)) do |f|
      # we can use form_for([@list, @item]) do |f| to create a form for nested item
    %>
    <%= form_for([@list, @item]) do |f| %>
      <%= f.text_field :name, class: "new-todo", placeholder: (@item.errors.full_messages_for(:name).first || "Enter new item name...") %>
      <%= f.submit :style => "display: none" %>
    <% end %>
  </header>

  <section class="main">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <%= render collection: @list.items, partial: "items/item_li", as: :item %>
    </ul>
  </section>
  
  <footer class="footer">
  </footer>
</section>